.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-left {
    animation: App-logo-spin-right infinite 20s linear;
  }
  .App-logo-right {
    animation: App-logo-spin-left infinite 20s linear;
  }
}
.App-logo-left {
  margin: 5%;
}

.App-logo-right {
  margin: 5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.angelImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 30rem;
  width: auto;
}
